@font-face {
  font-family: 'Fraunces 144pt';
  src: url('../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/manrope/static/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}