// Primary Colors
$colors-primary: (
  red: hsl(0, 100%, 67%),
  orange: hsl(39, 100%, 56%),
  teal: hsl(166, 100%, 37%),
  blue: hsl(234, 85%, 45%)
);

// Neutral Colors
$colors-neutral: (
  white: hsl(0, 0%, 100%),
  paleblue: hsl(221, 100%, 96%),
  lavender: hsl(241, 100%, 89%),
  grayblue: hsl(224, 30%, 27%)
);

// Gradients
$colors-gradient: (
  background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%),
  circle: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%),
);


@function color($color-type, $color-name) {
  @if $color-type =='primary' {
    @return map-get($colors-primary, $color-name);
  }

  @else if $color-type =='neutral' {
    @return map-get($colors-neutral, $color-name);
  }

  @else if $color-type =='gradient' {
    @return map-get($colors-gradient, $color-name);
  }

  @else {
    @error 'Invalid color type #{$color-type}';
  }
}

// Font Weights
$font-weight: (
  regular: 500,
  bold: 700,
  black: 800
);

@function fw($font-weight-name) {
  @return map-get($font-weight, $font-weight-name);
}