* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn--primary {
  color: hsl(273, 85%, 13%);
  background-color: hsl(150, 100%, 63%);
  border: 2px solid transparent;
  padding: 1rem 1.5rem;
}
.btn--primary:hover {
  color: hsl(150, 100%, 63%);
  background-color: transparent;
  border: 2px solid hsl(150, 100%, 63%);
}
.btn--transparent {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid hsl(150, 100%, 63%);
  margin: 1rem 1.5rem;
}
.btn--transparent:hover {
  color: hsl(150, 100%, 63%);
}