@font-face {
  font-family: "Fraunces 144pt";
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.btn {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.125rem;
  }
}
.btn--primary {
  color: hsl(273, 85%, 13%);
  background-color: hsl(150, 100%, 63%);
  border: 2px solid transparent;
  padding: 0.75rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .btn--primary {
    padding: 1rem 1.5rem;
  }
}
.btn--primary:hover {
  color: hsl(150, 100%, 63%);
  background-color: transparent;
  border: 2px solid hsl(150, 100%, 63%);
}
.btn--transparent {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid hsl(150, 100%, 63%);
}
.btn--transparent:hover {
  color: hsl(150, 100%, 63%);
}

.header {
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header {
    padding: 2rem 2.5rem;
  }
}
@media screen and (min-width: 996px) {
  .header {
    padding: 3.5rem 2.5rem;
  }
}
.header .logo {
  cursor: pointer;
}

body {
  position: relative;
}

main {
  overflow-x: hidden;
  height: calc(100% + 10rem);
}

.cta {
  padding: 21rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cta__wrapper {
    transform: translateX(6rem);
  }
}
@media screen and (min-width: 1200px) {
  .cta__wrapper {
    transform: translateX(12.5rem);
  }
}
@media screen and (min-width: 480px) {
  .cta {
    padding: 21rem 2.5rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .cta {
    max-width: 75rem;
  }
}
.cta__img {
  width: 17.5rem;
  position: absolute;
  top: -14.5rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .cta__img {
    top: -9.25rem;
    left: -11rem;
  }
}
@media screen and (min-width: 1200px) {
  .cta__img {
    top: -11.25rem;
    left: -25rem;
    width: 30rem;
    z-index: -1;
  }
}
.cta__img img {
  width: 100%;
}
.cta__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  background-color: hsl(273, 85%, 13%);
  color: hsl(0, 0%, 100%);
  position: relative;
}
@media screen and (min-width: 768px) {
  .cta__info {
    max-width: 75%;
    text-align: left;
    align-items: start;
    padding: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .cta__info {
    max-width: 40rem;
    margin: 0 auto;
    padding: 4rem;
  }
}
.cta__info .btn {
  margin-top: 0.5rem;
}
.cta__pattern {
  visibility: hidden;
  position: absolute;
  bottom: -7rem;
  right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .cta__pattern {
    visibility: visible;
  }
}
@media screen and (min-width: 1200px) {
  .cta__pattern {
    bottom: -4rem;
    right: 2rem;
  }
}

.footer {
  padding: 4.625rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.footer__logo {
  cursor: pointer;
}
.footer__sm-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  list-style: none;
}
.footer__sm-icons .sm-icons__icon {
  cursor: pointer;
}

.hero {
  background-color: hsl(273, 85%, 13%);
  min-height: 50vh;
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 200%;
  height: 50%;
  background-color: inherit;
  transform: translateY(10%);
  z-index: -1;
}
@media screen and (min-width: 480px) {
  .hero {
    min-height: 65vh;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 75vh;
    margin-bottom: 4rem;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 480px) {
  .hero__content {
    max-width: 30rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 50rem;
  }
}
.hero__img {
  width: max(17rem, 75%);
  position: absolute;
  bottom: -8rem;
}
.hero__img img {
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .hero__img {
    bottom: -9.5rem;
    max-width: clamp(17rem, 75%, 25rem);
  }
}
@media screen and (min-width: 768px) {
  .hero__img {
    bottom: -12.5rem;
    max-width: clamp(25rem, 55%, 35rem);
  }
}
.hero__pattern {
  display: none;
}
@media screen and (min-width: 480px) {
  .hero__pattern {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
  }
  .hero__pattern--1 {
    top: 9rem;
    left: -14rem;
  }
  .hero__pattern--2 {
    bottom: 2rem;
    right: -6rem;
  }
}
.hero__pattern img {
  width: 100%;
}

.perks {
  padding: 11rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  z-index: 80;
  text-align: center;
  color: hsl(273, 85%, 13%);
  background-color: hsl(276, 100%, 99%);
}
.perks::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 200%;
  height: 50%;
  background-color: inherit;
  transform: translateY(10%);
  z-index: -1;
}
@media screen and (min-width: 480px) {
  .perks {
    padding: 11rem 2.5rem 2.5rem;
  }
}
.perks__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  .perks__item {
    max-width: 39rem;
    flex-direction: row;
    gap: 2rem;
    text-align: start;
  }
}
.perks__number {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border: 1px solid hsl(271, 12%, 34%);
  border-radius: 100%;
  font-family: "Fraunces 144pt", serif;
  font-size: 1.25rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (min-width: 480px) {
  .perks__number {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.667;
  }
}
.perks__header {
  margin-bottom: 1rem;
}
.perks__description {
  font-size: 1rem;
  line-height: 1.78;
  font-weight: 400;
  color: hsl(271, 12%, 34%);
}
@media screen and (min-width: 768px) {
  .perks__description {
    font-size: 1.125rem;
  }
}

.heading {
  font-family: "Fraunces 144pt", serif;
}
.heading--xl {
  font-size: 3.125rem;
  line-height: 1;
  font-weight: 600;
  font-family: "Fraunces 144pt", serif;
}
@media screen and (min-width: 480px) {
  .heading--xl {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 768px) {
  .heading--xl {
    font-size: 5rem;
  }
}
.heading--lg {
  font-size: 2rem;
  line-height: 1.14;
  font-weight: 600;
  font-family: "Fraunces 144pt", serif;
}
@media screen and (min-width: 480px) {
  .heading--lg {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .heading--lg {
    font-size: 3.5rem;
  }
}
.heading--md {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: "Fraunces 144pt", serif;
}
@media screen and (min-width: 768px) {
  .heading--md {
    font-size: 2rem;
  }
}

.text {
  font-family: "Manrope", sans-serif;
}
.text--sm {
  font-size: 1rem;
  line-height: 1.78;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}
@media screen and (min-width: 768px) {
  .text--sm {
    font-size: 1.125rem;
  }
}
.text--md {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}
@media screen and (min-width: 768px) {
  .text--md {
    font-size: 2rem;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: hsl(150, 100%, 63%);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.4rem;
}