// Primary Colors
$colors-primary: (
  red: hsl(0, 100%, 67%),
  orange: hsl(39, 100%, 56%),
  teal: hsl(166, 100%, 37%),
  blue: hsl(234, 85%, 45%)
);

$colors-neutral: (
  white: hsl(0, 0%, 100%),
  paleblue: hsl(221, 100%, 96%),
  lavender: hsl(241, 100%, 89%),
  grayblue: hsl(224, 30%, 27%)
);

$colors-gradient: (
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)),
  circle: radial-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0))
);

@function color($color-type, $color-name) {
  @if $color-type =='primary' {
    @return map-get($colors-primary, $color-name);
  }

  @else if $color-type =='neutral' {
    @return map-get($colors-neutral, $color-name);
  }

  @else if $color-type =='gradient' {
    @return map-get($colors-gradient, $color-name);
  }

  @else {
    @error 'Invalid color type #{$color-type}';
  }
}