.btn {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--primary {
    color: color(primary);
    background-color: color(secondary);
    border: 2px solid transparent;
    padding: 1rem 1.5rem;

    &:hover {
      color: color(secondary);
      background-color: transparent;
      border: 2px solid color(secondary);
    }
  }

  &--transparent {
    color: color(white);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid color(secondary);
    margin: 1rem 1.5rem;

    &:hover {
      color: color(secondary);
    }
  }
}