.hero {
  background-color: color(primary);
  min-height: 60vh;
  position: relative;
  padding-top: 2rem;
  @include flex(column, center, center);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 200%;
    height: 50%;
    background-color: color(primary);
    transform: translateY(10%);
    z-index: -1;
  }

  &__content {
    @include flex(column, center, center);
    gap: 2.5rem;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    color: color(white);
  }

  &__img {
    width: 80%;
    max-width: 300px;
    position: absolute;
    bottom: -25%;

    & img {
      max-width: 100%;
    }
  }
}