* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  background-color: color(neutral, paleblue);
  @include flex(column, center, center);
  min-height: 100vh;
}