.footer {
  padding: 4.625rem 1rem 4rem;
  @include flex(column, center, center);
  gap: 3.5rem;

  &__logo {
    cursor: pointer;
  }

  &__sm-icons {
    @include flex(row, center, center);
    gap: 1.75rem;
    list-style: none;

    & .sm-icons__icon {
      cursor: pointer;
    }
  }
}