.hero {
  background-color: color(primary);
  min-height: 60vh;
  position: relative;
  padding-top: 2rem;
  @include flex(column, center, center);
  z-index: 90;
  @include curve;

  &__content {
    @include flex(column, center, center);
    gap: 2.5rem;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    color: color(white);

    @media screen and (min-width: 375.1px) {
      max-width: 30rem;
    }

  }

  &__img {
    width: 80%;
    position: absolute;
    bottom: -8rem;

    & img {
      max-width: 100%;
    }

    @media screen and (min-width: 375.1px) {
      max-width: 22rem;
    }
  }

  &__pattern {
    display: none;

    @media screen and (min-width: 375.1px) {
      display: block;
      position: absolute;
      width: auto;
      height: auto;

      &--1 {
        top: 8rem;
        left: -14rem;
      }

      &--2 {
        bottom: 2rem;
        right: -6rem;
      }
    }

    & img {
      width: 100%;
    }
  }
}