.perks {
  padding: 11rem 1rem 1rem;
  @include flex(column, center, center);
  gap: 2.5rem;
  position: relative;
  z-index: 80;
  @include curve;
  text-align: center;
  color: color(primary);
  background-color: color(light);


  @media screen and (min-width: 480px) {
    padding: 11rem 2.5rem 2.5rem;
  }

  &__item {
    @include flex(column, center, center);
    gap: 1rem;

    @media screen and (min-width: 480px) {
      max-width: 39rem;
      flex-direction: row;
      gap: 2rem;
      text-align: start;
    }
  }

  &__number {
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
    border: 1px solid color(primary-light);
    border-radius: 100%;
    font-family: font('heading');
    font-size: 1.25rem;
    line-height: 1.8;
    @include flex(column, center, center);
    flex-shrink: 0;

    @media screen and (min-width: 480px) {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.5rem;
      line-height: 1.667;
    }
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__description {
    @include fontSize(sm);
    color: color(primary-light);
  }
}