.component {
  &__container {
    width: 100%;
    background-color: color('neutral', 'white');
  }

  &__result {
    background: color('gradient', 'background');
    color: color('neutral', 'white');

    .header {
      @include font(md);
      color: color('neutral', 'paleblue');
    }
  }

  &__score {
    background: color('gradient', 'circle');

    .user-score {
      @include font(xl);
    }

    .score-max {
      @include font(sm);
      color: color('neutral', 'paleblue');
    }
  }
}